{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@higherOrders": "./src/higherOrders",
          "@pages": "./src/pages"
        }
      }
    ],
    ["transform-define", { "filePath": "./env.config.js" }],
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    "transform-flow-strip-types"
  ]
}
