{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@pages": "./src/pages",
          "@components": "./src/components",
          "@containers": "./src/containers"
        }
      }
    ],
    "transform-flow-strip-types",
    "inline-import-graphql-ast"
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ]
}
