{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:jsx-a11y/recommended",
    "plugin:flowtype/recommended",

    "prettier",
    "prettier/standard",
    "prettier/react",
    "prettier/flowtype"
  ],
  "plugins": ["import", "jsx-a11y", "flowtype"],
  "rules": {
    "padding-line-between-statements": [
      2,
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "multiline-block-like"]
      },
      { "blankLine": "always", "prev": "multiline-block-like", "next": "*" }
    ],
    "import/order": [2, { "newlines-between": "never" }]
  }
}
