/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro');

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-size: 0.875em;
  color: rgb(25, 25, 25);
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
