/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro');

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
